.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.nav-link {
    color: white;
    &:hover {
        color: gray;
    }
}

#profil {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
